* { 
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h4, h6{
    text-align: center;
    margin: 0;
    color: #fff;
}

input{
    height: 25px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 1px -2px rgba(255,255,255,0.5)
}

#size{
    width: 100px;
}

#cost{
    width: 120px;
}

label{
    text-align: left;
}

.headingContainer{
    width: 100vw;
    height: 50vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.titleContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    font-size: 100px;
}
h4{
    font-size: 30px;
}

.cardContainer{
    width: 30vw;
    margin: 0;
    padding: 0;
}

nav{
    list-style: none;
    width: 100vw;
    height: 50px;
    background-color: #505252;
    display: flex;
    flex-direction: row;
}

li{
    width: 25%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
     color: #fff;
     text-decoration: none;
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.link{
    height: 30px;
    font-size: 20px;
}

h5{
    position: relative;
    top: 5px;
    font-size: 30px;
    margin: 0;
    font-family: 'Allura', cursive;
}

li p{
    margin: 0;
    font-size: 10px;
}

.pageLink{
    width: 120px;
}
.pageLink:hover{
    border-top: 5px solid rgba(0,0,0,0.3);
    border-bottom: 5px solid rgba(0,0,0,0.3);
    border-left: 5px solid rgba(0,0,0.4);
    border-right: 5px solid rgba(0,0,0.4);
    box-shadow: inset 0 0 5px rgba(0,0,0.2);
}

ng-view{
    position: absolute;
    top: 50px;
}

select{
    height: 25px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 1px -2px rgba(255,255,255,0.5)
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.forSale{
    background-image: url("images/saleBackground.jpg");
    background-size: cover;
    height: 95vh;
}

.forRent{
    background-image: url("images/rentalBackground.jpg");
    background-size:cover;
    height: 95vh;
}

.listingsContainer{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: inset 0 0 40px rgba(0,0,0,0.8);
}

.card{
    position: relative;
    height: 200px;
    min-width: 180px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.5);
    color: #fff;
    border: 2px solid #B3B4B4;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

p{
    margin: 0;
    text-align: center;
}

.price{
    position: absolute;
    bottom: 20%;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.size{
    position: absolute;
    bottom: 10%;
}

.cardImg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 60%;
    width: 100%;
}

.location{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
}

.location:hover{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.deleteBtn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    font-size: 20px;
    background: transparent;
    color: #FF2A2A;
    border: none;
}

.confirmBox{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 60%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question{
    width: 100%;
}

.confirmBox button{
    width: 25%;
    height: 25%;
    margin: 5px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 1px -2px rgba(255,255,255,0.5)
}

.confirmBox button:hover{
    box-shadow: 0 0 5px rgba(255,255,255,1);
}

.home{
    background-image: url("images/realEstateBackground.jpg");
    background-size: cover;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer{
    display: flex;
    flex-direction: row;
}

#addForm{
    height: 50vh;
    width: 200px;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

#searchForm{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchBox{
    margin: 20px;
}

.formContainer{
    width: 45vw;
    height: auto;
    background: rgba(0,0,0,0.5);
    color: #fff;
}

.formSection{
    display: flex;
    flex-direction: column;
}

.formBtn{
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 1px -2px rgba(255,255,255,0.5)
}

.formBtn:hover{
    box-shadow: 0 0 5px rgba(255,255,255,1);
}

.resultsContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden; 
}
