
<div class="container forRent">
    <div class="headingContainer">
        <div class="titleContainer">
            <h2>Rentals</h2>
            <h4>{{rc.listingCount}} listings</h4>
        </div>
        <div class="cardContainer">
            <h6>Best Price Property</h6>
            <div class="card" ng-repeat="house in rc.lowestPrice | orderBy: 'id'">
                <div class="location">
                    {{house.city}}
                </div>
                <img class="cardImg" ng-src="styles/images/{{house.image_path}}">
                <p class="price">{{house.cost | currency}}/mo</p>
                <p class="size">{{house.sqft | number }} sq ft</p>
            </div>
        </div>
    </div>
    <div class="listingsContainer">
        <div class="card" ng-repeat="house in rc.rentalArr | orderBy: 'id'">
            <div class="confirmBox" ng-hide="{{house.confirm}}">
                <p class="question">Delete this listing?</p>
                <button class="yesBtn" ng-click="rc.deleteListing(house.id)">Yes</button>
                <button class="noBtn" ng-click="rc.areYouSure(house.id, house.confirm)">No</button>
            </div>
            <div class="location">
                {{house.city}}
            </div>
            <img class="cardImg" ng-src="styles/images/{{house.image_path}}">
            <button class="deleteBtn" ng-click="rc.areYouSure(house.id, house.confirm)"><i class="fas fa-times"></i></button>
            <p class="price">{{house.cost | currency}}/mo</p>
            <p class="size">{{house.sqft | number }} sq ft</p>
        </div>
    </div>
</div>